body{

font-family:'Inter',sans-serif;

padding-top:80px;

}


.logo{

height:55px;

}


.hero{

height:95vh;

background:
linear-gradient(rgba(0,43,91,.85),rgba(0,0,0,.7)),
url('../images/hero.jpg');

background-size:cover;

background-position:center;

display:flex;

align-items:center;

}


.hero-content{

color:white;

max-width:700px;

}


.hero-content h1{

font-size:48px;

font-weight:700;

}


.hero-content p{

font-size:20px;

}


.section{

padding:80px 0;

}


.section-title{

color:#003366;

margin-bottom:30px;

}


.product-row{

margin-bottom:60px;

}


.product-image{

width:100%;

background:white;

padding:15px;

border-radius:8px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.about-image{

margin-top:20px;

border-radius:8px;

}


/* MOBILE FIX */

@media(max-width:768px){

.hero-content h1{

font-size:28px;

}

.hero{

height:70vh;

}

}